<p>My images</p>

<ul> 
    <!-- Iterate over object_list -->
    {% for object in object_list %} 
    <!-- Display Objects -->
    <li>
        <img height="200" width="300" src="{{object.image.url}}" />
        <p>Description: {{ object.description }}</p>
                <a href="{% url 'image' object.id %}">View details</a>

    </li> 
    
    <hr/> 
        <div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    {% empty %} 
    <li>There are no images.</li> 
    {% endfor %} 
</ul> 
<a href="/home">Back</a>